body{margin-top:20px;}

.container {
	direction: rtl; /* Right-to-left direction */
	text-align: right;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
  }
.print-button,
.new-local-button {
  background-color: #167fdc;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
 border: solid;
  cursor: pointer;
}

.form-group label {
  margin-left: 5px;
  font-size: 1em;
}

.form-group input[type="checkbox"] {
  margin-right: 5px;
}
h1{
    text-align: center;
    margin-bottom: 40px;
}
.filter-form .form-layout {
  display: flex;
  justify-content: space-between;
}

.form-column {
  flex: 1;
  padding: 10px;
}

.form-group {
  margin-bottom: 20px;
}

.filter-form {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
   
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="tel"],
  .form-group input[type="email"],
  .form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 5px;
  }
  
  .form-group input[type="checkbox"] {
    margin-right: 5px;
  }
  .filter-title {
	  cursor: pointer;
	  font-weight: bold;
	  margin-bottom: 10px;
	  margin-right: 50px;
  }
  
  .filter-form-container {
	  margin-bottom: 20px;
  }
	.fas{margin-right: 10px;}
	 .fa-filter{margin-left: 5px;
	}
  


/* USER LIST TABLE */
.user-list tbody td > img {
 position: relative;
max-width: 50px;
float: left;
margin-right: 15px;
}
.user-list tbody td .user-link {
display: block;
font-size: 1.25em;
padding-top: 3px;
margin-left: 60px;
}
.user-list tbody td .user-subhead {
font-size: 0.875em;
font-style: italic;
}